@height_search: 4em;
@height_thumbnail: 200px;
@width_page: 1024px;
@frame_space: 1em;
@spacing_thumbnails: 0.25em;
@color_white: rgb(255, 255, 255);
@color_black: rgb(25, 25, 25);
@color_gray: rgb(229, 229, 229);
@color_gray_light: rgb(245, 245, 245);
@color_gray_dark: rgba(0, 0, 0, 0.3);
@color_gray_shadow: rgba(0, 0, 0, 0.15);
@color_blue: rgb(68, 134, 246);
@color_blue_dark: darken(@color_blue, 10);
@color_green: rgb(5, 163, 94);
@color_green_light: lighten(@color_green, 10);
@color_green_dark: darken(@color_green, 10);
@color_red: rgb(218, 78, 58);
@color_red_light: lighten(@color_red, 10);
@color_red_dark: darken(@color_red, 10);
@shadow_default: 0px 2px 4px 0px @color_gray_shadow;
@fontsize_small: 0.8em;
@fontsize_medium: 1.0em;
@fontsize_big: 1.2em;
@fontfamily_default: "Lucida Sans Unicode", "Lucida Grande", sans-serif;

html, body {
	width: 100%;
	height: 100%;
	background: @color_gray_light;
	overflow: hidden;
}

.noselect {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.board.spinner {
	width: @frame_space;
	height: @frame_space;
	background: @color_blue;
	-webkit-animation: boardspinnerframes 1.5s infinite ease-in-out;
	animation: boardspinnerframes 1.5s infinite ease-in-out;
}

@-webkit-keyframes boardspinnerframes {
  0% { -webkit-transform: perspective(120px) }
  50% { -webkit-transform: perspective(120px) rotateY(180deg) }
  100% { -webkit-transform: perspective(120px) rotateY(180deg)  rotateX(180deg) }
}

@keyframes boardspinnerframes {
	0% {
		transform: perspective(@frame_space) rotateX(0.0deg) rotateY(0.0deg);
	}
	50% {
		transform: perspective(@frame_space) rotateX(-180.0deg) rotateY(0.0deg);	
	}
	100% {
		transform: perspective(@frame_space) rotateX(-180.0deg) rotateY(-180.0deg);
	}
}

.flat-button-transition {
	-moz-transition: color 0.25s ease-in, background 0.25s ease-in, border 0.25s ease-in;
}

button.flat {
	display: block;
	width: 100%;
	margin: 0 auto;
	padding: @frame_space;
	background: @color_gray_light;
	color: @color_gray_shadow;
	font-size: @fontsize_medium;
	font-weight: bold;
	border-radius: 2px;
	border: none;
	border-bottom: solid 2px @color_gray_shadow;
	cursor: pointer;
	.flat-button-transition;	

	&:hover {
		color: @color_white;
		background: @color_blue;
		border-bottom-color: @color_blue_dark;
		.flat-button-transition;
	}

	&.disabled {
		cursor: default;

		&:hover {
			color: @color_gray_shadow;
			background: @color_gray_light;
			border-bottom-color: @color_gray_shadow;
		}
	}
}

button.flat.green {
	.flat-button-transition;

	&:hover {
		color: @color_white;
		background: @color_green;
		border-bottom-color: @color_green_dark;
		.flat-button-transition;
	}

	&.disabled {
		cursor: default;
		background: @color_green_light;
		color: @color_white;
		.flat-button-transition;

		&:hover {
			color: @color_white;
			background: @color_green_light;
			border-bottom-color: @color_gray_shadow;
		}
	}
}

button.flat.red {
	background: @color_red_light;
	color: @color_white;
	.flat-button-transition;

	&:hover {
		color: @color_white;
		background: @color_red;
		border-bottom-color: @color_red_dark;
		.flat-button-transition;
	}

	&.disabled {
		cursor: default;
		background: @color_red_light;
		color: @color_white;
		.flat-button-transition;

		&:hover {
			color: @color_white;
			background: @color_red_light;
			border-bottom-color: @color_gray_shadow;
		}
	}
}

div.tags.container {
	height: 2em;
}

input.tags {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0 @frame_space;
	color: @color_gray;
	font-size: @fontsize_big;
	font-weight: bold;
	background: transparent;
	border: none;
	border-bottom: solid 3px @color_gray;
	vertical-align: top;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	text-transform: lowercase;

	&:hover {
		color: @color_gray_dark;
		border-bottom-color: @color_gray_dark;
	}
	&:focus {
		border-color: @color_blue;
		color: @color_blue;
	}
	&::-webkit-input-placeholder {
		color: @color_gray;
	}
	&::-moz-placeholder {
		color: @color_gray;
	}

	&.disabled {
		&:hover {
			color: @color_gray;
			border-bottom-color: @color_gray;
		}
	}
}

.chrome {
	position: relative;
    overflow: hidden;

    > .resizebox {
    	display: none;
    	position: fixed;
    	top: 0;
    	left: 0;
    	width: 100%;
    	height: 100%;
    	background: @color_gray_shadow;
    	border: solid 5px @color_blue;
    	box-sizing: border-box;
    	-moz-box-sizing: border-box;
    	z-index: 100;
    }

    > .toasts {
    	position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		padding-top: @frame_space;
		text-align: center;

		.toast {
			margin-top: @frame_space / 2;

			> div {
				display: inline-block;
				padding: @frame_space;
				background: @color_blue;
				color: white;
				font-size: @fontsize_small;
				font-weight: bold;
				border-radius: 2px;
				border: none;
				box-shadow: @shadow_default;
			}
		}
    }

	> .header {
	    position: fixed;
	    bottom: 0;
	    left: 0;
		display: block;
		width: 100%;
	    height: @height_search;
	    background: @color_gray_light;
		z-index: 1;

	    > div.tags {
	    	width: 100%;
			background: @color_blue;
			position: absolute;
			bottom: @height_search;
			z-index: 1;

			> ul {
				padding: @frame_space;
				list-style: none;

				> li {
					display: inline-block;
					margin-right: @frame_space;
					border-bottom: solid 3px transparent;
					color: @color_gray_light;
					font-size: @fontsize_big;
					font-weight: bold;
					text-transform: lowercase;
					cursor: pointer;

					&:hover {
						border-bottom: solid 3px @color_gray_light;
					}
				}
			}
	    }

	    > div.search {
			display: inherit;
	    	height: 100%;
			padding: @frame_space;
			box-sizing: border-box;
			-moz-box-sizing: border-box;

			> input {
				width: 100%;
				height: 100%;
				margin: 0;
				padding: 0 @frame_space;
				color: @color_gray;
				font-size: @fontsize_big;
				font-weight: bold;
				background: @color_gray_light;
				border: none;
				border-bottom: solid 3px @color_gray;
				vertical-align: top;
				box-sizing: border-box;
    			-moz-box-sizing: border-box;
				text-transform: lowercase;

				&:hover {
					color: @color_gray_dark;
					border-bottom-color: @color_gray_dark;
				}
				&:focus {
					border-color: @color_blue;
					color: @color_blue;
				}
				&::-webkit-input-placeholder {
					color: @color_gray;
				}
				&::-moz-placeholder {
					color: @color_gray;
				}
			}
	    }
	}

	> .grid {
		display: block;
		overflow: hidden;
		overflow-y: auto;
		background: @color_gray;
	    
	    > div.thumbnails {
	    	padding: 0 @frame_space;

	    	> .thumbnail {
	    		position: relative;
		    	display: block;
		    	width: 100%;
		    	max-width: @width_page;
		    	margin: @frame_space auto;
		    	background: @color_white;
		    	overflow: hidden;
	    		cursor: pointer;

	    		.board.spinner {
					position: absolute;
					top: 50%;
					left: 50%;
					margin-left: -@frame_space/2;
					margin-top: -@frame_space/2;
				}

				> img {
					display: block;
					width: 100%;
				}
		    }
	    }

	    > div.more {
	    	padding: @frame_space;
	    	padding-top: 0;

	    	button {
	    		max-width: @width_page;
	    	}
		}

		> label.no-results {
			padding: 1.5em;
			text-align: center;
			font-size: @fontsize_big * 2;
			font-weight: bold;
			color: @color_gray_shadow;
		}
	}

	> .display {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: @color_black;

		.container {
			position: relative;
		}

		.toolbar {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			text-align: right;

			> button {
				display: inline;
				padding: 8px;
				margin: 0;
				background: transparent;
				border: none;
				color: @color_gray_light;
				font-size: @fontsize_small;
				font-weight: bold;
				vertical-align: top;
				cursor: pointer;

				&:hover {
					border-bottom: 2px solid @color_blue;
				}

				> a {
					color: inherit;
					text-decoration: none;
				}
			}
		}

		.frame {
			position: relative;
			width: 100%;
			height: 100%;
			padding: 5%;
			box-sizing: border-box;
    		-moz-box-sizing: border-box;
			overflow: hidden;

			> .inset {
				position: relative;
				display: block;
				width: 100%;
				height: 100%;

				.board.spinner {
					position: absolute;
					top: 50%;
					left: 50%;
					margin-left: -@frame_space/2;
					margin-top: -@frame_space/2;
				}

				> img {
					max-width: 100%;
					max-height: 100%;
					box-shadow: @shadow_default;
					background: @color_white;
				}
			}
		}
	}

	.editor {
		width: 100%;
		
		> .padding {
			padding: @frame_space;
			padding-bottom: 0;

			> .container {
				width: 100%;
				max-width: @width_page;
				margin: 0 auto;
				padding: @frame_space;
				background: @color_white;
				box-sizing: border-box;
				-moz-box-sizing: border-box;

				> input[type="file"] {
					visibility: hidden;
					display: block;
					width: 0;
					height: 0;
				}

				> div {
					overflow: hidden;

					> button {
						width: 49%;
						float: left;

						&.cancel {
							margin-left: 2%;
						}
					}
				}

				> .image-frame {
					position: relative;
					min-height: 5em;
					margin: @frame_space 0;
					cursor: pointer;

					.board.spinner {
						position: absolute;
						top: 50%;
						left: 50%;
						margin-left: -@frame_space/2;
						margin-top: -@frame_space/2;
					}

					> img {
						display: block;
						max-width: 100%;
						margin: 0 auto;
					}

					> .placeholder {
						border: 0.4em dashed @color_gray_shadow;
						border-radius: 0.4em;
						text-align: center;
						padding: @frame_space * 10 0;

						> label {
							.noselect;
							font-size: @fontsize_medium;
							font-weight: bold;
							color: @color_gray_shadow;
						}
					}

					&.disabled {
						> img {
							opacity: 0.5;	
						}
						cursor: default;
					}
				}
			}
		}
	}
}
